@model List<ToDoList>

@{
	ViewData["Title"] = "Experience List";
	Layout = "~/Views/Layout/index.cshtml";
	int count = 0;
}
<br><br><br><br><br><br>
<div class="col-md-12">
	<h4 class="page-title">Yapılacaklar</h4>
	<div class="card card-tasks">
		<div class="card-header ">
			<div class="card-title">Yapılacaklar Listesi</div>
		</div>
		<div class="card-body ">
			<div class="table-full-width">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>İçerik</th>
							<th>Tarih</th>
							<th>Durum</th>
							<th>Güncelle</th>
							<th>Sil</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							count++;
							<tr>
								<td>
									<div class="form-check">
										<label class="form-check-label">
											<input class="form-check-input task-select" type="checkbox"
												data-id="@item.ToDoListId" @(item.Status ? "checked" : "") />
											<span class="form-check-sign"></span>
										</label>
									</div>
								</td>
								<td>@item.Title</td>
								<td>@item.Time.ToString("dd.MM.yyyy")</td>
								<td>
									@if (item.Status == true)
									{
										<span class="badge badge-success">Yapıldı</span>
									}
									else
									{
										<span class="badge badge-secondary">Yapılmadı</span>
									}
								</td>
								<td class="td-actions">
									<div class="form-button-action">
										<a href="/ToDoList/UpdateToDoList/@item.ToDoListId" data-toggle="tooltip"
											title="Güncelle" class="btn btn-link btn-simple-primary">
											<i class="la la-edit"></i>
										</a>

									</div>
								</td>
								<td class="td-actions">
									<div class="form-button-action">
										<a href="/ToDoList/DeleteToDoList/@item.ToDoListId" data-toggle="tooltip"
											title="Sil" class="btn btn-link btn-simple-danger">
											<i class="la la-times"></i>
										</a>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer ">
			<a href="/ToDoList/CreateToDoList/" class="btn btn-success">Yeni Yapılacak İşlem Ekle</a>
		</div>
	</div>
</div>
