@model Message

@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Layout/index.cshtml";
}

<input type="hidden" asp-for="MessageId"/>>

<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Mesajlar</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
					    <div class="card-header">
							<div class="card-title">Mesaj Detayları</div>
						</div>
						<div class="card-body">
						    <div class="card-sub">
								<h4>Gönderen: @Model.NameSurname</h4>
                                <h6>Email: @Model.Email</h6>
                                <h6>Tarih: @Model.SendeDate</h6>
                                <br><br>
                                <p>Mesaj: @Model.MEssageDetail</p>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>