@model Testimonial

@{
    ViewData["Title"] = "EditSocialMedia";
    Layout = "~/Views/Layout/index.cshtml";
}

<div class="content">
		<div class="container-fluid">
			<h4 class="page-title">Referans</h4>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
					    <div class="card-header">
							<div class="card-title">Referans Düzenleme Sayfası</div>
						</div>
						<div class="card-body">
                                <form method="post">
                                    <input type="hidden" asp-for="TestimonialId"/>
                                    <label>Kişi Adı Soyadı</label>
                                    <input type="text" asp-for="NameSurname" class="form-control" />
                                    <br>
                                    <label>Unvanı</label>
                                    <input type="text" asp-for="Title" class="form-control" />
                                    <br>
                                    <label>Hakkımda Yazdığı</label>
                                    <input type="text" asp-for="Description" class="form-control" />
                                    <br>
                                    <label>Fotoğrafı</label>
                                    <input type="text" asp-for="ImageUrl" class="form-control" />
                                    <br>
                                    <button class="btn btn-warning">Referansı Güncelle</button>
                                </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>